/* * {
        border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1,
p {
    margin: 0;
}

.main-section-one {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background-color: #1F2937;
    height: 600px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hero {
    display: flex;
    margin: auto 0;
    height: 300px;
    gap: 16px;
}

.image {    
    flex: 1;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
}

.hero-secondary-text {
    flex: 1;
}

.header-logo-text,
.hero-secondary-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-text > button {
    width:fit-content;
    padding: 8px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

.main-section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.information-header{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 8px;
    padding: 8px;
}

.information-content {
    margin: auto;
    padding: 24px;
}

.information-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 4px;
}   

.item > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item > .text {
    text-align: center;
}


.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 750px;
}

.quote-text,
.quote-author {
    color: #1F2937;
    min-width: 0px;
} 

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-section {
    display: flex;
    height: 300px;
}

.call-to-action-section > .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
    margin: auto;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-to-action-section > .content > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 10px 30px;
    flex-shrink: 0;
}

.call-to-action-section > .content > .detail {
    display: flex;
    flex-direction: column; 
}

.call-to-action-section > .content > .detail > .text {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action-section > .content > .detail > .subtext {
    color: #F9FAF8;
    font-weight: lighter;
}

.call-to-action-section > .content > .detail > .subtext,
.call-to-action-section > .content > .detail > .text {
    min-width: 0;   
}

.footer {
    display: flex;
    background-color:  #1F2937;
    color: white;
    height: 80px;
}

.footer > .content {
    font-weight: lighter;
    padding: 5px;
    margin: auto;
}




