.top-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 500px;
}

.top-section-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    gap: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F0FAF8;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 1em 0px;
    padding-left: 40px;
}

.header-links > li {
    text-align: center;
    white-space: nowrap;
    margin: 0 4px;
}

.header-links > li > a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 250px;
    gap: 45px;
}

.hero > .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
}

.hero > .hero-image {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background: url(./images/hero-image.jpg);
    background-size: cover;
}

.hero-main-text,
.hero-secondary-text {
    margin: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content > button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.information-header{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 8px;
    padding: 8px;
}

.information-content {
    margin: auto;
    padding: 24px;
}

.information-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.information-item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 4px;
}   

.information-item > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.information-item > .text {
    text-align: center;
}


.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 750px;
}

.quote-text,
.quote-author {
    color: #1F2937;
    min-width: 0px;
} 

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-section {
    display: flex;
    height: 300px;
}

.call-to-action-section > .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
    margin: auto;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-to-action-section > .content > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 10px 30px;
    flex-shrink: 0;
}

.call-to-action-section > .content > .detail {
    display: flex;
    flex-direction: column; 
}

.call-to-action-section > .content > .detail > .text {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action-section > .content > .detail > .subtext {
    color: #F9FAF8;
    font-weight: lighter;
}

.call-to-action-section > .content > .detail > .subtext,
.call-to-action-section > .content > .detail > .text {
    min-width: 0;   
}

.footer {
    display: flex;
    background-color:  #1F2937;
    color: white;
    height: 80px;
}

.footer > .content {
    font-weight: lighter;
    padding: 5px;
    margin: auto;
}




